<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cari Makan Apps</title>
</head>

<body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <nav>
        <div class="container">
            <div class="logo">
                <a href="#">Cari Makan Apps</a>
            </div>
            <a href="#" id="menu" class="menu-toggle">&#9776;</a>
            <ul id="nav_drawer">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://github.com/iseplutpinur">About</a></li>
            </ul>
        </div>
    </nav>

    <div class="hero"
    id="header-hero"
        style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');">
        <div class="hero-inner">
            <h1 class="hero-title">Cari Makan Apps</h1>
            <p class="hero-tagline">
                The best way to choose food when you are hungry
            </p>
        </div>
    </div>
    <main>
        <section id="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="mainContent"></div>
            </div>
        </section>
    </main>

    <footer>
        <p>Copyright &copy 2021 - Cari Makan Apps</p>
    </footer>
</body>

</html>